################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Test/.vs/ProjectEvaluation/test.metadata.v7.bin
/Test/.vs/ProjectEvaluation/test.projects.v7.bin
/Test/.vs/Test/config/applicationhost.config
/Test/.vs/Test/DesignTimeBuild/.dtbcache.v2
/Test/.vs/Test/FileContentIndex/1a556636-6655-4759-9edf-46975f9ad1c5.vsidx
/Test/.vs/Test/FileContentIndex/854a4a5c-6c2d-46e3-a4fb-204b1f83796d.vsidx
/Test/.vs/Test/FileContentIndex/bb18ca87-3c2d-468a-b318-274a1ac465b3.vsidx
/Test/.vs/Test/FileContentIndex/dd6a7226-6119-4102-998a-cb8588c9addc.vsidx
/Test/.vs/Test/v17/.futdcache.v2
/Test/.vs/Test/v17/.suo
/Test/.vs/Test/v17/TestStore/0/000.testlog
/Test/bin/Debug/net7.0/Test.API.dll
/Test/bin/Debug/net7.0/Test.API.pdb
/Test/bin/Debug/net7.0/Test.Application.dll
/Test/bin/Debug/net7.0/Test.Application.pdb
/Test/bin/Debug/net7.0/Test.Core.dll
/Test/bin/Debug/net7.0/Test.Core.pdb
/Test/bin/Debug/net7.0/Test.DataAccess.dll
/Test/bin/Debug/net7.0/Test.DataAccess.pdb
/Test/bin/Debug/net7.0/Test.Shared.dll
/Test/bin/Debug/net7.0/Test.Shared.pdb
/Test/obj/Container/ContainerDevelopmentMode.cache
/Test/obj/Container/ContainerId.cache
/Test/obj/Container/ContainerName.cache
/Test/obj/Container/ContainerRunContext.cache
/Test/obj/Debug/net7.0/ref/Test.API.dll
/Test/obj/Debug/net7.0/refint/Test.API.dll
/Test/obj/Debug/net7.0/Test.API.assets.cache
/Test/obj/Debug/net7.0/Test.API.csproj.AssemblyReference.cache
/Test/obj/Debug/net7.0/Test.API.csproj.CoreCompileInputs.cache
/Test/obj/Debug/net7.0/Test.API.csproj.FileListAbsolute.txt
/Test/obj/Debug/net7.0/Test.API.dll
/Test/obj/Debug/net7.0/Test.API.GeneratedMSBuildEditorConfig.editorconfig
/Test/obj/Debug/net7.0/Test.API.genruntimeconfig.cache
/Test/obj/Debug/net7.0/Test.API.pdb
/Test/obj/project.assets.json
/Test/obj/project.nuget.cache
/Test/obj/Test.API.csproj.nuget.dgspec.json
*.dll
*.pdb
*.cache
*.txt
*.editorconfig
/Test.Application/obj/project.assets.json
*.json
/Test.Application.UnitTest/bin/Debug/net7.0/CoverletSourceRootsMapping
*.vsidx
/Test.Application/obj/Debug/net7.0/ref/Test.Application.dll
/Test.Application/obj/Debug/net7.0/refint/Test.Application.dll
/Test/response_times.log
/Test.Application.UnitTest/bin/Debug/net7.0/Microsoft.Extensions.Configuration.Binder.dll
*.exe
/Test.Application.UnitTest/bin/Debug/net7.0/Test.Application.UnitTest.runtimeconfig.json
/Test.Application.UnitTest/bin/Debug/net7.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/Test.Application.UnitTest/bin/Debug/net7.0/Microsoft.Extensions.Logging.Abstractions.dll
/Test.Application.UnitTest/bin/Debug/net7.0/Microsoft.Extensions.Logging.dll
/Test.Application.UnitTest/bin/Debug/net7.0/Microsoft.Extensions.Options.dll
/Test.Application.UnitTest/bin/Debug/net7.0/Test.Application.UnitTest.deps.json
/Test.Application.UnitTest/obj/Debug/net7.0/ref/Test.Application.UnitTest.dll
/Test.Application.UnitTest/obj/Debug/net7.0/refint/Test.Application.UnitTest.dll
/Test.Application.UnitTest/obj/Test.Application.UnitTest.csproj.nuget.g.props
/Test.Application.UnitTest/obj/Test.Application.UnitTest.csproj.nuget.g.targets
/Test.Shared/obj/Debug/net7.0/Test.Shared.csproj.AssemblyReference.cache
